body {
    margin: 0;
    height: 100vh;
    background: #ffd6e8;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

.popper {
    position: absolute;
    width: 120px;
    height: 120px;
    background: url("download.jpeg") no-repeat center/contain;
    animation: pop 2s infinite linear;
}

.left { left: 10px; top: 50%; }
.right { right: 10px; top: 50%; transform: scaleX(-1); }

@keyframes pop {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

.gift-text {
    color: rgb(230, 222, 220);
    margin-top: 60px;
    position: relative;
    z-index: 6;
    font-weight: bold;
}


.gift-box {
    width: 160px;
    height: 160px;
    background: #ff8fb1;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    z-index: 5;
}

.lid {
    position: absolute;
    top: -40px;
    width: 100%;
    height: 40px;
    background: #ff5c8a;
    transition: 0.5s;
}

.ribbon {
    position: absolute;
    width: 20px;
    height: 100%;
    background: #df045c;
    left: 50%;
    transform: translateX(-50%);
}


.puzzle-container {
    position: absolute;
    text-align: center;
}

#puzzle {
    width: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
    margin: 20px auto;
}

.piece {
    width: 100px;
    height: 100px;
    background-size: 300px 300px;
    cursor: grab;
}

.hidden {
    display: none;
}



